@font-face {
  font-family: "font1";
  src: url(../css/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face {
  font-family: "font2";
  src: url(../css/fonts/Fira_Sans_Extra_Condensed/FiraSansExtraCondensed-Medium.ttf);
}
body {
  box-sizing: border-box;
  max-width: 98vw;
  margin-left: 0;
  margin-right: 0;
  cursor: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-family: "font2", sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: "font1", sans-serif;
}

#cursor {
  width: 2rem;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: auto;
}

nav {
  background-color: teal;
  position: fixed;
  display: block;
  width: 100%;
  top: -400px;
  z-index: auto;
  opacity: 0;
  transition: 1s ease-in-out;
}
nav div ul {
  display: flex;
  justify-content: space-around;
}
nav div ul li {
  padding: 1em;
  width: 20%;
  border: 1px solid black;
  background-color: rgba(52, 178, 178, 0.771);
  border-radius: 5px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/banniere.png) center/cover repeat;
  flex-direction: column;
  height: 70vh;
  margin-top: 15vh;
}
.hero > div {
  background-color: teal;
  border-radius: 10px;
}
.hero h1, .hero h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
  color: rgba(52, 178, 178, 0.771);
  text-shadow: 1px 0 0 rgba(203, 203, 203, 0.9);
}

#section-1 {
  text-align: center;
  margin: 20vh 0;
}
#section-1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
#section-1 > div img {
  width: 15em;
  border-radius: 50%;
}

#section-2 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#section-2 > div .card {
  width: 20%;
  min-width: 250px;
  height: 21rem;
  margin: 2em;
  border: 1.5px solid rgba(119, 119, 119, 0.826);
  box-shadow: 2px 2px 2px rgba(119, 119, 119, 0.826);
  background-color: whitesmoke;
  border-radius: 10px;
  position: relative;
}
#section-2 > div .card img {
  width: 80%;
  height: 60%;
  border: 1px solid rgba(119, 119, 119, 0.826);
  box-shadow: inset -1px -1px 2px rgba(119, 119, 119, 0.826);
  background-color: white;
  position: absolute;
  top: 2em;
  left: 50%;
  transform: translateX(-50%);
}
#section-2 > div .card .card-title {
  position: absolute;
  bottom: 3em;
  margin-left: 3em;
}
#section-2 > div .card .card-title p {
  text-transform: uppercase;
  font-family: "font1", sans-serif;
  opacity: 1;
}
#section-2 > div .card .modal {
  opacity: 0;
  background-color: rgba(17, 17, 17, 0.94);
  height: 21em;
  border-radius: 10px;
  position: absolute;
  z-index: auto;
  transition: 1s ease-in-out;
}
#section-2 > div .card .modal .title {
  text-transform: uppercase;
  text-align: center;
  line-height: 2em;
}
#section-2 > div .card .modal p {
  text-align: center;
  padding: 2em 1em 0;
  color: whitesmoke;
}
#section-2 > div .card .modal:hover {
  opacity: 1;
}

#section-3 .carroussel {
  margin: 0 auto;
}
#section-3 img {
  width: 17.5em;
}

#section-4 table {
  width: 80vw;
  margin: auto;
  border: 2px solid teal;
  border-collapse: collapse;
  text-align: center;
}
#section-4 table th {
  height: 3em;
}
#section-4 table tr {
  border: 2px solid teal;
  height: 3em;
}
#section-4 table tr img {
  width: 30px;
}

footer {
  display: flex;
}
footer div {
  justify-content: center;
  width: 50%;
}
footer .copains div {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "mo mo le" "mo mo mw" "mi ma po";
  align-content: center;
}
footer .copains div #photo-mo {
  grid-area: mo;
}
footer .copains div #photo-mo img {
  width: 95%;
  border-radius: 50%;
  margin: 2px 0;
  border: 2px solid grey;
}
footer .copains div #photo-le {
  grid-area: le;
}
footer .copains div #photo-le img {
  width: 95%;
  border-radius: 50%;
  margin: 2px 0;
  border: 2px solid grey;
}
footer .copains div #photo-po {
  grid-area: po;
}
footer .copains div #photo-po img {
  width: 95%;
  border-radius: 50%;
  margin: 2px 0;
  border: 2px solid grey;
}
footer .copains div #photo-mi {
  grid-area: mi;
}
footer .copains div #photo-mi img {
  width: 95%;
  border-radius: 50%;
  margin: 2px 0;
  border: 2px solid grey;
}
footer .copains div #photo-ma {
  grid-area: ma;
}
footer .copains div #photo-ma img {
  width: 95%;
  border-radius: 50%;
  margin: 2px 0;
  border: 2px solid grey;
}
footer .copains div #photo-mw {
  grid-area: mw;
}
footer .copains div #photo-mw img {
  width: 95%;
  border-radius: 50%;
  margin: 2px 0;
  border: 2px solid grey;
}

@media screen and (max-width: 850px) {
  #section-1 > div {
    flex-direction: column;
    justify-content: center;
    padding: 2%;
  }
  #section-1 > div {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */